#dispositionPrncipale {
    display: inline-flex;
    padding: 3%;
    gap: 1rem;
}
#description, #lien_immage{
    flex: 3; 
    margin: auto;
    border-radius: 10px;
}
#lien_immage{
    flex: 2; 
    padding: 0;
}
#description{
    background: linear-gradient(120deg, rgba(227, 19, 71, 0.2), rgba(153,0,171, 0.2), rgba(61,0,158, 0.2));
    padding: 2rem;
}
#description p{
    padding: 0.25rem;
    margin: 0;
}
#dispositionPrncipale a{
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 960px) {
    #dispositionPrncipale {
        flex-direction: column;
    }
    #dispositionPrncipale, td {
        padding: 1.5rem;
    }
    #description{
        background: linear-gradient(120deg, rgba(227, 19, 71, 0.2), rgba(153,0,171, 0.2), rgba(61,0,158, 0.2));
        padding: 1rem;
    }
}
@media screen and (max-width: 600px) {
    #dispositionPrncipale, td {
        padding: 1rem;
    }
}
