
/* PICTOGRAME "CONFIDENTIELLE" */
div{
    display: block;
    position: fixed;
    width: 120vw;
    top: 12vw;
    left: -10vw;
    background-color: yellow;
    transform: skew(0, 10deg);
    text-align: center;
    background: linear-gradient(90deg, rgba(150, 150, 150, 0.8), rgba(244, 193, 74, 0.9));
    border: 0.4vw dashed black;
    padding-top: 4vw;
    padding-bottom: 4vw;
    font-family: sans-serif;
    color: white;
    font-size: 4vw;
    text-shadow: 0.2vw 0.2vw 0.2vw black;
    
}

/* TITRE DE LA PAGE */
h1{
    font-size: 4vw;
    text-align: center;
}

/* TEXTE (paragraphes) DE LA PAGE */
p{
    font-size: 2vw;
    line-height: 1;
}