#dispositionPrncipale {
    display: inline-flex;
    padding: 3%;
}
#description, #lien_immage{
    flex: 3; 
    margin: auto;
    border-radius: 10px;
    padding: 0;
    padding: 2rem;
}
#lien_immage{
    flex: 2; 
}
#description{
    background: linear-gradient(120deg, rgba(227, 19, 71, 0.2), rgba(153,0,171, 0.2), rgba(61,0,158, 0.2));
}
#description p{
    padding: 0.25rem;
    margin: 0;
}
#dispositionPrncipale a{
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 960px) {
    #dispositionPrncipale {
        flex-direction: column;
    }
}